/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 62px;
    height: 35px;
    margin-right: 10px; /* Add some space between the switch and the button */
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background: #fff;
    transition: .4s;
    border-radius: 30px;
    border: 1px solid #ccc;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.9em;
    width: 1.9em;
    border-radius: 16px;
    left: 1.2px;
    top: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 0 2px 5px #999999;
    transition: .4s;
}

input:checked + .slider {
    background-color: #5fdd54;
    border: 1px solid transparent;
}

input:checked + .slider:before {
    transform: translateX(1.5em);
}

/* Button styling for language toggle */
.lang-button {
    font-size: 17px;
    padding: 7px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    cursor: pointer;
    transition: background-color 0.3s;
}

.lang-button:hover {
    background-color: #e0e0e0;
}
/* Importar fuentes */
@font-face {
    font-family: "Satoshi-Regular";
    src: url('Fuentes/Satoshi-Regular.ttf');
}
@font-face {
    font-family: "Satoshi-Medium";
    src: url('Fuentes/Satoshi-Medium.ttf');
}
@font-face {
    font-family: "Satoshi-Bold";
    src: url('Fuentes/Satoshi-Bold.ttf');
}
@font-face {
    font-family: "Satoshi-Black";
    src: url('Fuentes/Satoshi-Black.ttf');
}

/* Definición de variables para temas */


/* General styles */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Satoshi-Regular";
    font-size: clamp(1rem, 2.5vw, 2rem);
    background-color: var(--background-color);
    background-image: var(--background-image);
    color: var(--text-color);
    margin: 100;
    padding: 15;
    transition: background-color 0.5s, color 0.5s, background-image 0.5s;
}

/* Estilos para la sección con imagen de fondo */
.hero-section {
    background-image: url('Imagenes/background\ image.webp'); 
    background-size: auto;
    background-position: center;
    height: 90vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding: 20px;
}

.hero-content h1 {
    font-size: 3rem; /* Tamaño del título */
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.5rem; /* Tamaño del párrafo */
}
.aboutme-section {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 100px 0;
    text-align: center;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;

}

h1, h2, h3, h4, h5, h6 {
    font-family: "Satoshi-Bold";
    color: var(--highlight-color);
}
h2 {
    align-items: center;
    text-align: center;
}

p, a, li, input, label, textarea, button {
    font-family: "Satoshi-Regular";
    color: var(--text-color);
    transition: color 0.5s;
}

button, .btn {
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.5s ease;
}

button:hover, .btn:hover {
    letter-spacing: 3px;
    background-color: var(--highlight-hover-color);
    color: var(--text-hover-color);
    box-shadow: var(--box-shadow-hover);
}

button:active, .btn:active {
    letter-spacing: 3px;
    background-color: var(--highlight-active-color);
    color: var(--text-active-color);
    box-shadow: var(--box-shadow-active);
    transform: translateY(10px);
    transition: 100ms;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar {
    display: none;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}


header nav ul {
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: var(--text-color);
    padding: 0;
    margin: 0;
    transition: 1s;
}

header nav ul li {
    display: inline-block;
    padding: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    text-transform: uppercase;
    transition: color 0.5s;
}

header nav ul li a:hover {
    color: var(--highlight-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.skills-container {
    display: flex;
    justify-content: space-around;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    width: 300px;
    height: 400px;
    background: var(--card-background);
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    font-weight: 900;
    color: var(--card-text-color);
    margin: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card h3 {
    color: var(--card-text-color); 
}

.card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}

.card:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: var(--box-shadow-hover);
    background: var(--card-hover-background);
}

.first-content {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
    text-align: center;
}

.card:hover .first-content {
    height: 0px;
    opacity: 0;
    box-shadow: var(--box-shadow-hover);
}

.second-content {
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
    text-align: center;
}

.card:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1.2rem;
    transform: rotate(0deg);
}

/* Adaptación a temas */
.dark-theme {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --highlight-color: var(--highlight-color-dark);
    --highlight-hover-color: var(--highlight-hover-color-dark);
    --highlight-active-color: var(--highlight-active-color-dark);
    --text-hover-color: var(--text-hover-color-dark);
    --text-active-color: var(--text-active-color-dark);
    --card-background-light: var(--card-background-dark);
    --card-hover-background-light: var(--card-hover-background-dark);
    --card-text-color-light: var(--card-text-color-dark);
    --input-background-color: var(--input-background-color-dark);
    --box-shadow-hover: var(--box-shadow-hover-dark);
    --box-shadow-active: var(--box-shadow-active-dark);
    --background-image: var(--background-image-dark);
}

.form-container {
    width: 100%;
    max-width: 600px;
    background-color: transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
    margin: auto;
}

.form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-content: center;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--text-color);
    font-weight: 600;
    font-size: 12px;
}

.form-container .form-group input,
.form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: var(--text-color);
    font-family: inherit;
    background-color: var(--input-background-color);
    border: 1px solid var(--highlight-color);
    transition: border-color 0.5s, color 0.5s;
}

.form-container .form-group textarea {
    resize: none;
    height: 96px;
}

.form-container .form-group input::placeholder,
.form-container .form-group textarea::placeholder {
    opacity: 0.5;
}

.form-container .form-group input:focus,
.form-container .form-group textarea:focus {
    outline: none;
    border-color: var(--highlight-hover-color);
}

.form-container .form-submit-btn,
.form-container .form-reset-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: var(--text-hover-color);
    font-weight: 600;
    width: 40%;
    background: var(--highlight-color);
    border: 1px solid var(--highlight-color);
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.5s, border-color 0.5s, color 0.5s;
}

.form-container .form-reset-btn {
    background: var(--highlight-hover-color);
}

.form-container .form-submit-btn:hover,
.form-container .form-reset-btn:hover {
    background-color: var(--highlight-hover-color);
    border-color: var(--highlight-hover-color);
    color: var(--text-hover-color);
}

footer {
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    gap: 10px;
    justify-content: center;
    align-items: center;
}

footer svg {
    width: 40px;
    height: 40px;
    fill: var(--icon-color);
    transition: fill 0.5s;
}

footer svg:hover {
    width: 45px;
    height: 45px;
}

.toggle-container {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
}


.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    --background: #28096b;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #fff000;
    background: var(--background);
    transition: .5s;
}

input:checked + .slider {
    background-color: #fff000;
}

input:checked + .slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #28096b; /* sombra dentro del slider */
}

/* Iconos de sol y luna */
.sun, .moon {
    position: absolute;
    top: 50%;
    width: 1.4em;
    height: 1.4em;
    transition: fill 0.5s;
}

.sun {
    left: 10%;
    fill: #fff000;
}

.moon {
    right: 10%;
    fill: #28096b;
}

input:checked ~ .sun {
    fill: #28096b;
}

input:checked ~ .moon {
    fill: #fff000;
}


/* Responsive Design */
@media only screen and (max-width: 1064px) {
    .card {
        width: 90%;
        margin: 2.5%;
    }

    .header-landing, .main-section {
        padding: 10px;
    }

    .skills-section {
        width: 90%;
        padding: 10px;
    }

    .contact-section {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
    }

    .aboutme-text, .skills-table, .form-container {
        max-width: 100%;
    }
    
}

@media screen and (max-width: 600px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
        position: fixed;
        top: 10px;
        left: 10px;
    }

    .cerrar-menu {
        color: #ececec;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        z-index: 1000;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-list li a {
        color: #ececec;
    }
    .hero-section {
        height: 100vh;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 30px;
    }
}

@media only screen and (min-width: 601px) {
    .navbar {
        display: flex;
    }

    .menu-hamburguesa {
        display: none;
    }
}

.nav.visible {
    display: flex;
}

body.menu-open {
    overflow: hidden;
}


